.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.text-items{
  width: 100%;
  font-size: 15pt;
  color: #697278;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p {
  border: 2px solid #9DA1AD;
  border-radius: 5px;
  height: auto;
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  margin: .5em;
}
