<!-- Input User text -->
<div class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter Some text" value="Something" [ngModel]="text"
       (ngModelChange) = "onChange($event)" 
       (paste)="pasteUrl($event.clipboardData.getData('text/plain'))"
      >
    </mat-form-field>  

    <div class="text-items" *ngIf = "hasText; else elseBlock">
    <p> {{ text }} <br><b>Text</b> </p>
    <p> {{ wordCount}} <br> <b> Count </b></p>
    <p> {{ vowels}} <br><b> Vowels </b> </p>
    <p> {{ articles }}<br> <b> Articles </b> </p>
    <p> {{ longestWordLength }}<br> <b> Longest Word </b></p>
    <p *ngIf = "shortestWordLength != 1000"> {{ shortestWordLength }} <br> <b> Shortest Word </b></p>

    </div>
    <ng-template #elseBlock> Please enter something </ng-template> 
  </div>
  