<!--The content below is only a placeholder and can be replaced.-->
<body>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <nav mat-tab-nav-bar mat-stretch-tabs>
      <a mat-tab-link 
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>

</div>

<router-outlet></router-outlet>
  
</body>