<form class="bar-chart-container"
    [formGroup]="barChartForm"
>

    <h3> Population Chart </h3>
    <div class="flex">
        <mat-form-field class="input-width">
            <input matInput 
            placeholder="Enter year"
            formControlName="name"
            class="col-md-6"
            >
        </mat-form-field>
    
        <mat-form-field class="input-width">
          <input matInput 
          placeholder="Enter comma separated values"
          formControlName ="data"
          class="col-md-6"
          >
        </mat-form-field>
    
        <button mat-button class="btn-width primary" (click)="addSeriesToBarAndColumn()">Add New Series</button>
    
    </div>

    <!-- <div class="flex">
            <mat-form-field class="input-width">
                <input matInput 
                placeholder="Enter country"
                formControlName="countryName"
                class="col-md-6"
                >
            </mat-form-field>
        
            <mat-form-field class="input-width">
              <input matInput 
              placeholder="Enter population"
              formControlName ="population"
              class="col-md-6"
              >
            </mat-form-field>
        
            <button mat-button class="btn-width secondary" (click)="addPointToBarAndColumn()">Add New Point</button>
        
        </div> -->
    
    <div class="flex">
        <div class="half-width" [chart]="barChart"></div>

        <div class="half-width" [chart]="columnChart"></div>
    </div>
</form>

<form [formGroup]="pieChartForm">
    <h3> Browser Share Charts </h3>
    <div class="flex">
    
    <mat-form-field class="input-width">
            <input matInput 
                placeholder="Enter name"
                formControlName="name"
                >
        </mat-form-field>

        <mat-form-field class="input-width">
            <input matInput 
                placeholder="Enter percentage"
                formControlName="y"
            >
        </mat-form-field>

        <button mat-button  class="btn-width primary" (click)="addToPieAndDonut()">Add Data</button>
    </div>
    

    <div class="flex">
        <div class="half-width"
        [chart]="pieChart"></div>
        <div class="half-width" 
        [chart]="donutChart"></div>
    </div>
</form>