.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.half-width{
    width: 45%;
    margin: .25em;
}

.input-width{
    width: 20%;
    margin: .5em;
}
.btn-width{
    width: 10%;
    height: 40px;
    padding: 0px 6px;
    border-radius: 5px;
    color: #fff;
    margin: 1em;
}
.primary{
    background-color: #673ab7;
}
.secondary{
    background-color: #ab72c0;
}