.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.half-width{
    width: 45%;
    margin: .25em;
}
.btn-width{
    width: 10%;
    height: 40px;
    padding: 0px 6px;
    border-radius: 5px;
    margin: 1em;
}
.primary{
    color: #fff;
    background-color: #673ab7;
}

.stop{
    background-color: #fff1ac;

}