<button class="btn-width primary" mat-button (click)="addClick()">Add Point!</button>
<button class="btn-width stop" mat-button (click)="stopClick()">Stop</button>

<div class="flex">
    <div class="half-width" [chart]="lineChart"></div>

    <div class="half-width" [chart]="areaChart"></div>
</div>
